.buttons {
  display: flex;
  align-items: center;
}

.buttons__button {
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0 40px;
  color: teal;
  transition: 0.2ss ease-out;
}

.buttons__button:disabled {
  color: rgb(196, 195, 195);
}

.buttons__button:hover {
  color: hsl(180, 100%, 40%);
}

@media (max-width: 767px) {
  .buttons {
    flex-direction: column;
  }
  .buttons__button {
    flex-basis: 100%;
    margin: 10px 0;
  }
}
